.container {
  margin: 0;
  padding-left: 25px;
  overflow: hidden;
  background-color: white;
  border-radius: 6px;

  &__list-item {
    line-height: 1;
    padding: 0.5rem 0;
    font-weight: lighter;
    position: relative;
    background-color: white;
    cursor: pointer;

    &:nth-of-type(2n - 1) {
      background-color: lightgray;
    }

    &[data-has_children="true"] {
      font-weight: bold;
      background-color: white;
    }

    &:not([data-has_children]) {
      cursor: inherit;
    }

    div[data-button] {
      margin-left: 20px;
      height: 20px;
      width: 20px;
      border-radius: 5px;
      background-color: #0394fc;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }

    &[data-type="radio"] div[data-button] {
      border-radius: 50%;
    }
  }

  &__list-text {
    display: flex;
    align-items: center;
    position: relative;
    left: -20px;

    > p {
      margin-left: 5px;
    }

    .padding {
      margin-left: 20px;
    }
  }

  &__toggle-list {
    margin-left: 25px;
    overflow: hidden;

    &.--closed {
      max-height: 0;
      transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
    }

    &.--active {
      transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
      height: auto;
      max-height: 9999px;
    }
  }
}

.padding {
  margin-left: 25px;
}
